@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Journey Journal App</h1>
    <p>I'm learning to build Web apps with ASP.NET Core.</p>
    <p>Here I can document my progress in learning various skills such as this!</p>
</div>
